

* {
    margin: 0 auto;
}

.contenedor__titulo{
    text-align: center;
}
.subtitulo{
    text-align: center;
}
body{
    background-color: gray !important;
    font-family: 'Nunito', sans-serif;
    color: rgb(232, 225, 225);
}

header{
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    background-color: orangered;
}

nav{
    display: flex;
    flex-direction: row;
    font-family: 'Nunito', sans-serif;
}
.navbar-light{
    background-color: orangered;
    color: rgb(232, 225, 225);
}
.nav-link {
    color: white !important;
}
nav ul{
    display: flex;
    flex-direction: row;
    
}
li{
    list-style: none;
    margin: 12px;
}
nav a{
    text-decoration: none;
    color: rgb(253, 229, 229);
}
.navbar-light .navbar-nav .nav-link:hover{
    color: black !important;
}
.animacion{
color: darkblue; 
animation-name: gorra;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: 2s;
}

@keyframes gorra {
    0%{
    color: blue;
    }
    25%{
       color: blueviolet; 
    }
    50%{
        color: purple;
    }
    75%{
        color: black;
    }
    100%{
        color: blue;
    }
}

h3{
    color: rgb(12, 14, 14);
    text-align: center;
    align-items: center;
}
span{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-padre{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
.grid-padre-procesador{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.grid-hijo{
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 100%;
    background-color: azure;
    border-radius: 20px;
}
.grid-hijo p{
    margin-left: auto;
    margin-right: auto;
}

img{
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0px 0px;
    width: auto;
    height: auto;
    max-width: 350px;
    max-height: 350px;
    margin-left: 60px;
}

button{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    margin-top: 200px;
    background-color: orangered;
}
.footer-ayuda{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.contenedor__hijo__info{
    width: 90%;
    margin: 0 auto;
    padding: 5px 10px;
}

.form-registro{
    box-sizing: border-box;
    width: 400px;
    background: orangered;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
}

.form-registro h4{
    font-size: 22px;
    margin-bottom: 20px;
}


@media(min-width:320px){
    .grid-padre{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
}

@media(min-width:768px){
    .grid-padre{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}


@media(min-width:1024px) {
    .grid-padre{
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
}


@media(min-width:320px){
    .grid-padre-procesador{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    
}

@media(min-width:768px){
    .grid-padre-procesador{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media(min-width:1024px) {
    .grid-padre-procesador{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
